* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

body {
  background: #f7f7f9;
  color: #222;
}

/* ---------------------------------------------------
   LAYOUT
--------------------------------------------------- */

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* HEADER */

.header {
  height: 90px;
  background: #ffffff;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 24px;
}

.brand {
  font-size: 2.25rem;
  font-weight: 600;
  color: #3a61ff;
}

/* MAIN LAYOUT */

.content {
  display: flex;
  justify-content: center;
  flex: 1;
}

/* LOGIN */
.login-container {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}

.login-card {
  margin: 1rem;
  background-color: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
  width: 100%;
  max-width: 600px;
  height: min-content;
}

.login-card h2 {
  margin-bottom: 20px;
}

.login-card form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.login-card form input {
  width: 100%;
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #f1f3f7;
  margin-bottom: 15px;
}

.login-card form .save-btn {
  width: 100%;
}

.actionContainer {
  display: flex;
  justify-content: space-around;
}

.checkboxContainer {
  display: flex;
  align-items: center;
}

.checkboxContainer input[type="checkbox"] {
  width: 20px;
  height: 20px;
  border: 2px solid #3a61ff;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  transition: all 0.2s;
  background-color: #fff;
  margin-top: 0.5rem;
}

.checkboxContainer label {
  font-size: 0.95rem;
  margin-left: 0.25rem;
  color: #3b3a3a;
  cursor: pointer;
}

.save-btn {
  background: #3a61ff;
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-weight: 500;
}

.register-link,
.forget-password {
  margin-top: 15px;
  font-size: 0.9rem;
}

.register-link {
  text-align: center;
}

.register-link a,
.forget-password a {
  color: #3366ff;
  text-decoration: none;
}

.register-link a:hover,
.forget-password a:hover {
  text-decoration: underline;
}
