{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Backup Manager</title>
    <link rel="stylesheet" href="{% static 'css/createBackup.css' %}" />
  </head>

  <body>
    <div class="app">
      <!-- HEADER -->
      <header class="header">
        <h1 class="brand">Backup Manager</h1>
        <div class="header-actions">
          <button class="icon-btn">🌙</button>
          <button class="login-btn">Log in</button>
        </div>
      </header>

      <div class="layout">
        <!-- SIDEBAR -->
        <nav class="sidebar">
          <button class="nav-btn" href="./dashboard.html">Dashboard</button>
          <button class="nav-btn active" href="./create_backup.html">
            Create Backup
          </button>
          <button class="nav-btn" href="./backup_history.html">History</button>
          <button class="nav-btn" href="./settings.html">Settings</button>
        </nav>

        <!-- MAIN CONTENT -->
        <main class="content">
          <div class="content-header">
            <h2>Create Backup</h2>
          </div>

          <div class="cards">
            <div class="form-container">
              <div class="form-group">
                <label for="backupName">Backup Name</label>
                <input
                  type="text"
                  id="backupName"
                  placeholder="Enter backup name"
                />
              </div>
              <div class="form-group">
                <label for="sourceFolder">Select Source</label>
                <select id="sourceFolder">
                  <option>Choose source folder</option>
                </select>
              </div>
              <div class="form-group">
                <label for="backupType">Backup Type</label>
                <select id="backupType">
                  <option>Full</option>
                  <option>Incremental</option>
                </select>
              </div>
              <button>Create backup</button>
            </div>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
